body {
    background-color: #1260cc;
    background-image: url('/static/images/flower1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .custom-text-color {
    color: #1260cc;
  }

/* CSS for the navigation bar */
.navbar {
    background-color: #C8E7F5;
    border-bottom: 1px solid #C8E7F5;
    text-decoration-color: #1260cc;
   }
   
   .navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    color: #007bff;
   }
   
   .navbar-nav .nav-link {
    font-size: 1rem;
    color: #6c757d;
   }
   
   .navbar-nav .nav-item.active .nav-link,
   .navbar-nav .nav-link:hover {
    color: #007bff;
   }
   
   /* CSS for the responsive buttons */
   .navbar-toggler {
    border: none;
   }
   
   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
   }
   
   @media (max-width: 991.98px) {
    .navbar-collapse {
       background-color: #C8E7F5;
    }
   
    .navbar-nav .nav-link {
       color: #1260cc;
    }
   
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-link:hover {
       color: #007bff;
    }
   }


  .container {
    background-color: #C8E7F5;
    /* background-image: url('/static/images/flower1.png');
    background-size: cover;
    background-repeat: no-repeat; */
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(241, 242, 242, 0.92);
  }