{% extends "base.html" %}
{% block title %}Resume Ranking System{% endblock %}
{% block Addnav %}
<li class="nav-item active">
  <a class="nav-link" href="/HR">HR Team</a>
</li>
{% endblock %}
{% block styleInclude %}
<style>
  @media screen and (min-width: 992px) {
    a.sign_in {
      width: 70%;
    }
  }
  @media screen and (min-width: 1300px) {
    a.sign_in {
      width: 50%;
    }
  }
  @media screen and (min-width: 300px) {
    .main_card {
      margin-top: 40px;
    }
  }

  /* sign up sign in */
  .forms-container {
    display: flex;
    justify-content: space-around; /* Change to 'space-between' if you want some space between forms */
    align-items: center;
    background-color: #C8E7F5;
    height: 70vh;
    font-family: 'Arial', sans-serif;
    color: white;
    border-radius: 10px;
    
  }

  /* Style for the forms */
  form {
    text-align: center;
    padding: 20px;
    background-color: #1260cc;
    border-radius: 6px;
    width: 260px; /* Adjust the width as needed */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    margin: 0 10px;
    color: white;
    border-radius: 10px;
    background-image: url('/static/images/flower1.png');
  }

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: black;
    font-family: 'Arial', sans-serif;
  }


  /* Style for "Or" */
  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: black;
    font-family: 'Arial', sans-serif;
  }

  /* Style for form labels */
  form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }

  /* Style for form inputs */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
  }

  /* Style for form buttons */
  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
  }

  form button[type="submit"]:hover {
    background-color: #45a049;
  }

  .forms-container .form {
    width: auto;
    margin: 0; /* Adjust the margin as needed */
  }

  .sign_in {
    border: none;
    border-radius: 6px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none; /* remove underline from anchors #0671B7*/
    background-color: #1260cc;
    color: white;
  }
</style>

{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 main_card" style="margin-top: 50px; z-index: 10">
        <h1 class="text-center mt-10 hh">Are you looking for jobs?</h1>
       
        <div class="forms-container">
          <form class="form" method="post" action="/signup">
            <p>Sign Up</p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Submit">
          </form>
          {% if message %}
          <p class="message">{{ message }}</p>
          {% endif %}
          <!--log in-->
          <form class="form" method="post" action="/login">
            <p>Login</p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Submit">
          </form>
        </div>
        <h2>Or</h2>
        <a href="/login" class="btn btn-lg  mt-5 sign_in mx-auto d-block">
          <i class="fab fa-google me-4"></i>Login With Google
        </a>
        <!-- Add the pop-up message HTML and JavaScript code here -->
        <!-- <div id="popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #0671B7; color: white; padding: 10px; border-radius: 6px; text-align: center; z-index: 999;">
          User Created Successfully!
        </div>
        <input type="hidden" id="successFlag" value="{{ session.get('success', False) }}">
        <script>
          // Get the success flag value from the hidden input element
          const success = "{{ session.get('success', False) }}";
          if (success === "True") {
            document.getElementById("popup").style.display = "block";
            // Set a timeout to hide the pop-up after 2 seconds (2000 milliseconds)
            setTimeout(function () {
              document.getElementById("popup").style.display = "none";
            }, 2000);
          }
        </script> -->
        <div class="col-md-12 col-xs-12">
          <video class="video-fluid mx-auto d-block" autoplay loop width="500" height="300">
            <source src="{{ url_for('static', filename='images/video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
